In [15]:
import warnings 
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.express as px

In [16]:
heart_data=pd.read_csv("heart_failure_clinical_records_dataset.csv")

In [17]:
heart_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [18]:
heart_data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [19]:
heart_data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [20]:
print("shape of the data set",heart_data.shape)

shape of the data set (299, 13)

In [21]:
heart_data.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

# Data modeling

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [23]:
#Feature=['time','ejection_fraction','serum_creatinine']
x=heart_data.drop(['DEATH_EVENT'],axis=1)
y=heart_data["DEATH_EVENT"]

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=2)

In [12]:
print("xtrain data")
print(xtrain)
print("xtest data")
print(xtest)
print("ytrain data")
print(ytrain)
print("ytest data")
print(ytest)

xtrain data
      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
53   70.0        1                        69         1                 50
172  70.0        1                       171         0                 60
23   53.0        0                        63         1                 60
98   60.0        1                       156         1                 25
244  54.0        0                       582         1                 38
..    ...      ...                       ...       ...                ...
75   60.0        1                        47         0                 20
22   68.0        1                       220         0                 35
72   85.0        0                      5882         0                 35
15   82.0        1                       379         0                 50
168  65.0        0                       582         1                 40

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
53                     1   351000.0               1.0           134    0
172                    1   176000.0               1.1           145    1
23                     0   368000.0               0.8           135    1
98                     1   318000.0               1.2           137    0
244                    0   264000.0               1.8           134    1
..                   ...        ...               ...           ...  ...
75                     0   204000.0               0.7           139    1
22                     1   289000.0               0.9           140    1
72                     0   243000.0               1.0           132    1
15                     0    47000.0               1.3           136    1
168                    0   270000.0               1.0           138    0

     smoking  time
53         0    44
172        1   146
23         0    22
98         0    85
244        0   213
..       ...   ...
75         1    73
22         1    20
72         1    72
15         0    13
168        0   140

[239 rows x 12 columns]
xtest data
        age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
179  55.000        0                       835         0                 40
221  65.000        0                       118         0                 50
226  58.000        1                        57         0                 25
7    60.000        1                       315         1                 60
173  50.000        1                       115         0                 20
30   94.000        0                       582         1                 38
183  75.000        0                        99         0                 38
181  59.000        1                       176         1                 25
271  51.000        0                       582         1                 40
141  46.000        1                       291         0                 35
13   50.000        1                       168         0                 38
272  67.000        0                       213         0                 38
35   69.000        0                       582         1                 35
270  44.000        0                       582         1                 30
77   42.000        0                       102         1                 40
267  56.000        1                       135         1                 38
206  40.000        1                       101         0                 40
94   58.000        0                       144         1                 38
91   60.000        0                       897         1                 45
214  65.000        1                       135         0                 35
3    50.000        1                       111         0                 20
104  60.000        0                        53         0                 50
29   82.000        0                        70         1                 30
170  51.000        1                       582         1                 35
134  81.000        0                      4540         0                 35
41   50.000        0                       124         1                 30
251  55.000        0                       572         1                 35
288  65.000        0                       892         1                 35
133  63.000        0                       193         0                 60
160  66.000        1                        72         0                 40
152  50.000        0                       115         0                 45
66   42.000        1                       250         1                 15
243  73.000        1                      1185         0                 40
237  70.000        0                       232         0                 30
89   57.000        1                       115         0                 25
273  42.000        0                        64         0                 40
157  50.000        0                       250         0                 25
103  42.000        0                      5209         0                 30
126  46.000        0                       168         1                 17
222  42.000        1                        86         0                 35
11   62.000        0                       231         0                 25
224  58.000        0                       582         1                 25
164  45.000        0                      2442         1                 30
127  58.000        1                       200         1                 60
174  65.000        0                       198         1                 35
74   69.000        0                       582         0                 20
188  60.667        1                       151         1                 40
239  55.000        1                       180         0                 45
283  65.000        0                      1688         0                 38
156  52.000        1                        58         0                 35
131  60.000        1                      1082         1                 45
99   63.000        1                        61         1                 40
10   75.000        1                        81         0                 38
84   59.000        1                       280         1                 25
142  50.000        0                       482         1                 30
65   60.000        0                        68         0                 20
118  65.000        1                       113         1                 60
282  42.000        0                        64         0                 30
109  45.000        0                       292         1                 35
205  50.000        1                       167         1                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
179                    0  279000.00              0.70           140    1
221                    0  194000.00              1.10           145    1
226                    0  189000.00              1.30           132    1
7                      0  454000.00              1.10           131    1
173                    0  189000.00              0.80           139    1
30                     1  263358.03              1.83           134    1
183                    1  224000.00              2.50           134    1
181                    0  221000.00              1.00           136    1
271                    0  221000.00              0.90           134    0
141                    0  348000.00              0.90           140    0
13                     1  276000.00              1.10           137    1
272                    0  215000.00              1.20           133    0
35                     0  228000.00              3.50           134    1
270                    1  263358.03              1.60           130    1
77                     0  237000.00              1.20           140    1
267                    0  133000.00              1.70           140    1
206                    0  226000.00              0.80           141    0
94                     1  327000.00              0.70           142    0
91                     0  297000.00              1.00           133    1
214                    1  290000.00              0.80           134    1
3                      0  210000.00              1.90           137    1
104                    1  286000.00              2.30           143    0
29                     0  200000.00              1.20           132    1
170                    0  263358.03              1.50           136    1
134                    0  231000.00              1.18           137    1
41                     1  153000.00              1.20           136    0
251                    0  231000.00              0.80           143    0
288                    0  263358.03              1.10           142    0
133                    1  295000.00              1.30           145    1
160                    1  242000.00              1.20           134    1
152                    1  184000.00              0.90           134    1
66                     0  213000.00              1.30           136    0
243                    1  220000.00              0.90           141    0
237                    0  173000.00              1.20           132    1
89                     1  181000.00              1.10           144    1
273                    0  189000.00              0.70           140    1
157                    0  262000.00              1.00           136    1
103                    0  226000.00              1.00           140    1
126                    1  271000.00              2.10           124    0
222                    0  365000.00              1.10           139    1
11                     1  253000.00              0.90           140    1
224                    0  504000.00              1.00           138    1
164                    0  334000.00              1.10           139    1
127                    0  300000.00              0.80           137    0
174                    1  281000.00              0.90           137    1
74                     0  266000.00              1.20           134    1
188                    1  201000.00              1.00           136    0
239                    0  263358.03              1.18           137    1
283                    0  263358.03              1.10           138    1
156                    0  277000.00              1.40           136    0
131                    0  250000.00              6.10           131    1
99                     0  221000.00              1.10           140    0
10                     1  368000.00              4.00           131    1
84                     1  302000.00              1.00           141    0
142                    0  329000.00              0.90           132    0
65                     0  119000.00              2.90           127    1
118                    1  203000.00              0.90           140    0
282                    0  215000.00              3.80           128    1
109                    0  850000.00              1.30           142    1
205                    0  362000.00              1.00           136    0

     smoking  time
179        1   147
221        1   200
226        1   205
7          1    10
173        0   146
30         0    27
183        0   162
181        1   150
271        0   244
141        0   109
13         0    11
272        0   245
35         0    30
270        1   244
77         0    74
267        0   244
206        0   187
94         0    83
91         0    80
214        0   194
3          0     7
104        0    87
29         1    26
170        1   145
134        1   107
41         1    32
251        0   215
288        0   256
133        1   107
160        0   121
152        1   118
66         0    65
243        0   213
237        0   210
89         0    79
273        0   245
157        1   120
103        1    87
126        0   100
222        1   201
11         1    10
224        0   205
164        0   129
127        0   104
174        1   146
74         1    73
188        0   172
239        1   211
283        1   250
156        0   120
131        0   107
99         0    86
10         1    10
84         0    78
142        0   109
65         1    64
118        0    94
282        1   250
109        1    88
205        0   187
ytrain data
53     1
172    0
23     0
98     0
244    0
      ..
75     1
22     1
72     1
15     1
168    0
Name: DEATH_EVENT, Length: 239, dtype: int64
ytest data
179    0
221    0
226    0
7      1
173    0
30     1
183    1
181    1
271    0
141    0
13     1
272    0
35     1
270    0
77     0
267    0
206    0
94     0
91     0
214    0
3      1
104    0
29     1
170    0
134    0
41     1
251    0
288    0
133    0
160    0
152    0
66     1
243    0
237    0
89     0
273    0
157    0
103    0
126    1
222    0
11     1
224    0
164    1
127    0
174    0
74     1
188    0
239    0
283    0
156    0
131    0
99     0
10     1
84     1
142    0
65     1
118    0
282    0
109    0
205    0
Name: DEATH_EVENT, dtype: int64

In [13]:
from sklearn.ensemble import RandomForestClassifier
import joblib

In [32]:
RF=RandomForestClassifier()
RF.fit(xtrain,ytrain)
RF_pred=RF.predict(xtest)
RF_accu=accuracy_score(ytest,RF_pred)
RF_preci=precision_score(ytest,RF_pred)
RF_recall=recall_score(ytest, RF_pred)
RF_con=confusion_matrix(ytest, RF_pred)
print("accuracy rate for RandomForestClassifier :", RF_accu*100)
print("precision_score for RandomForestClassifier :", RF_preci*100)
print("recall score for RandomForestClassifier:", RF_recall*100)
print("confusion_matrix for RandomForestClassifier:\n", RF_con)

accuracy rate for RandomForestClassifier : 95.0
precision_score for RandomForestClassifier : 100.0
recall score for RandomForestClassifier: 82.35294117647058
confusion_matrix for RandomForestClassifier:
 [[43  0]
 [ 3 14]]